---
---
@import "{{ site.theme }}";

.page-header { 
  color: #fff;
    text-align: center;
    background-color: #ffffff;
    background-image: linear-gradient(120deg, #d80000, #080808);
}

.btn2 {
  border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
  background-color:#F61E1E;
  background-image: -webkit-linear-gradient(top, #F61E1E, #050000);
   background-image: -moz-linear-gradient(top, #F61E1E, #050000);
   background-image: -ms-linear-gradient(top, #F61E1E, #050000);
   background-image: linear-gradient(to bottom, #F61E1E, #050000)
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: auto;
  cursor: pointer;
  margin: 5px;
}


h2 {
 color:white;
 }

.main-content h2 {
 color:black;
  border: 1px solid red;
}

h3 {
 color:white;
 }

.main-content h3 {
 color:red;
  border: 1px solid black;
}
